<h1><%= @list.name %></h1>

<% @list.bookmarks.each do |bookmark| %>
<li>
<%= bookmark.comment %>
<%= bookmark.movie.title %>
<%= link_to '🗑', bookmark_path(bookmark), method: :delete %>
</li>
<% end %>
<p><%= link_to '< go back', lists_path %></p>
<p><%= link_to 'Create bookmark', new_list_bookmark_path(@list) %></p>
